            <p class="content text-justify">
                Nuestra aplicación consiste en una terminal punto de venta para la zapatería MP Shoes. 
                Considerando que por el tipo de producto se contará con catálogos para ciertos atributos 
                tales COMO color, material, modelo, punto entre otros, así como para LA marca DE zapato. 
            </p><br>
            <p class="content text-justify">
                Nuestro segmento va dirigido a clientes con pequeñas empresas dedicadas A la industria del 
                calzado.
            </p><br>
            <p class="content text-justify">
                Somos una empresa comprometida CON brindar un servicio DE calidad satisfaciendo las 
                necesidades de los clientes.
            </p><br>