            <p class="content text-justify">
                <ul>
                    Nuestra está comprometida a proteger los datos personales proporcionados por los usuarios que utilicen la terminal
                    punto de venta.
                </ul>
                <ul>
                    Los Datos Personales que los usuarios proporcionen a nuestra empresa tienen como finalidad I) Que los usuarios
                    generen una cuenta. II) Gestión de contrataciones: altas, renovaciones y bajas, III) Realización de consultas,
                    investigaciones y revisiones en relación a las quejas o reclamaciones de los Usuarios, IV) Contacto con relación al
                    status de las cuentas de los usuarios, solicitudes de servicios, cambios a sus cuentas y cualquier otro asunto
                    relevante al servicio contratado y/o a la información otorgada por los usuarios, V) Procesamiento del pago del
                    servicio contratado y, VI) Generar bases de datos para la realización de investigaciones de mercado, encuestas de
                    satisfacción o cualquier otra actividad con fines promocionales, publicidad o de satisfacción.
                </ul>
                <ul>
                    Los datos personales que se le solicitaran a los usuarios para crear la cuenta son:
                    <li>Nombre Completo</li>
                    <li>Nombre de Usuario</li>
                    <li>Correo Electrónico</li>
                    <li>Contraseña</li>
                </ul>
                <ul>
                    La creación de la cuenta implica el consentimiento pleno y sin reservas de los Usuarios para el Tratamiento de sus
                    Datos Personales de acuerdo con el presente
                </ul>
                <ul>
                    Los Usuarios podrán solicitar el ejercicio de sus derechos a:
                    <li>Acceder a sus Datos Personales;</li>
                    <li>Rectificar sus Datos Personales cuando sean inexactos o incompletos;</li>
                    <li>Cancelar sud Datos Personales;</li>
                    <li>Oponerse por causa legítima al Tratamiento de sus datos personales y/o</li>
                    <li>Revocar su consentimiento para el Tratamiento de sus Datos Personales en cualquier momento, a fin de que se deje
                        de hacer uso de estos.</li>
                </ul>
                <ul>Para verificar que se encuentra en un entorno protegido, sugerimos asegurarse de que aparezca una “S” en la barra de
                    navegación “httpS”://</ul>
                <ul>De conformidad con la legislación mexicana vigente, se conocen como “Datos Personales Sensibles” a “aquellos que
                    puedan revelar aspectos como origen racial o étnico, estado de salud presente y futuro, información genética,
                    creencias religiosas, filosóficas y/o morales, afiliación sindical, opiniones políticas, preferencia sexual”.</ul>
                </p>